.SignUp {
    width: 500px;
    margin: 0 auto;
    text-align: left;
}
.SignUp h3 {
    text-align: center;
}
#confirm-status {
    color:red;
    font-size: 0.8em;
}

.SignUp > form label {
    color: rgba(0, 0, 0, 0.808);
}

.SignUp .auth-buttons {
    width: 100%;
    height: 100px;
}
.SignUp .login-button {
    padding-left: 300px;
}
.SignUp a {
    color:blue;
}
.SignUp #fail-signup-status {
    color:red;
}
.SignUp .signup-status {
    color:red;
    font-size: .8em
}
 